<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.gjt.mm.mysql.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/used?useUnicode=true&amp;characterEncoding=UTF-8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/entity/Admin.hbm.xml</value>
				<value>com/entity/Seller.hbm.xml</value>
				<value>com/entity/Users.hbm.xml</value>
				<value>com/entity/Article.hbm.xml</value>
				<value>com/entity/Cate.hbm.xml</value>
				<value>com/entity/Goods.hbm.xml</value>
				<value>com/entity/Cart.hbm.xml</value>
				<value>com/entity/Orders.hbm.xml</value>
				<value>com/entity/Topic.hbm.xml</value>
				<value>com/entity/Fav.hbm.xml</value>
			</list>
		</property>
	</bean>

	<bean id="indexAction" name="indexAction" class="com.action.IndexAction">
		<property name="articleBusiness" ref="articleBusiness"></property>
		<property name="cartBusiness" ref="cartBusiness"></property>
		<property name="usersBusiness" ref="usersBusiness"></property>
		<property name="goodsBusiness" ref="goodsBusiness"></property>
		<property name="cateBusiness" ref="cateBusiness"></property>
		<property name="ordersBusiness" ref="ordersBusiness"></property>
		<property name="topicBusiness" ref="topicBusiness"></property>
		<property name="favBusiness" ref="favBusiness"></property>
		<property name="sellerBusiness" ref="sellerBusiness"></property>
	</bean>

	<bean id="uploadAction" name="uploadAction" class="com.action.UploadAction"></bean>
	<!-- 定义DAO并注入sessionFactory的实例 -->
	<bean id="adminDAO" name="adminDAO" class="com.dao.AdminDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Business里注入DAO -->
	<bean id="adminBusiness" name="adminBusiness" class="com.business.AdminBusiness">
		<property name="adminDAO" ref="adminDAO"></property>
	</bean>
	<!-- Action里注入Business -->
	<bean id="adminAction" name="adminAction" class="com.action.AdminAction">
		<property name="adminBusiness" ref="adminBusiness"></property>
	</bean>

	<!-- 定义DAO并注入sessionFactory的实例 -->
	<bean id="sellerDAO" name="sellerDAO" class="com.dao.SellerDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Business里注入DAO -->
	<bean id="sellerBusiness" name="sellerBusiness" class="com.business.SellerBusiness">
		<property name="sellerDAO" ref="sellerDAO"></property>
	</bean>
	<!-- Action里注入Business -->
	<bean id="sellerAction" name="sellerAction" class="com.action.SellerAction">
		<property name="sellerBusiness" ref="sellerBusiness"></property>
	</bean>

	<!-- 定义DAO并注入sessionFactory的实例 -->
	<bean id="usersDAO" name="usersDAO" class="com.dao.UsersDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Business里注入DAO -->
	<bean id="usersBusiness" name="usersBusiness" class="com.business.UsersBusiness">
		<property name="usersDAO" ref="usersDAO"></property>
	</bean>
	<!-- Action里注入Business -->
	<bean id="usersAction" name="usersAction" class="com.action.UsersAction">
		<property name="usersBusiness" ref="usersBusiness"></property>
	</bean>

	<!-- 定义DAO并注入sessionFactory的实例 -->
	<bean id="articleDAO" name="articleDAO" class="com.dao.ArticleDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Business里注入DAO -->
	<bean id="articleBusiness" name="articleBusiness" class="com.business.ArticleBusiness">
		<property name="articleDAO" ref="articleDAO"></property>
	</bean>
	<!-- Action里注入Business -->
	<bean id="articleAction" name="articleAction" class="com.action.ArticleAction">
		<property name="articleBusiness" ref="articleBusiness"></property>
	</bean>

	<!-- 定义DAO并注入sessionFactory的实例 -->
	<bean id="cateDAO" name="cateDAO" class="com.dao.CateDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Business里注入DAO -->
	<bean id="cateBusiness" name="cateBusiness" class="com.business.CateBusiness">
		<property name="cateDAO" ref="cateDAO"></property>
	</bean>
	<!-- Action里注入Business -->
	<bean id="cateAction" name="cateAction" class="com.action.CateAction">
		<property name="cateBusiness" ref="cateBusiness"></property>
	</bean>

	<!-- 定义DAO并注入sessionFactory的实例 -->
	<bean id="goodsDAO" name="goodsDAO" class="com.dao.GoodsDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Business里注入DAO -->
	<bean id="goodsBusiness" name="goodsBusiness" class="com.business.GoodsBusiness">
		<property name="goodsDAO" ref="goodsDAO"></property>
	</bean>
	<!-- Action里注入Business -->
	<bean id="goodsAction" name="goodsAction" class="com.action.GoodsAction">
		<property name="goodsBusiness" ref="goodsBusiness"></property>
		<property name="sellerBusiness" ref="sellerBusiness"></property>
		<property name="cateBusiness" ref="cateBusiness"></property>
	</bean>

	<!-- 定义DAO并注入sessionFactory的实例 -->
	<bean id="cartDAO" name="cartDAO" class="com.dao.CartDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Business里注入DAO -->
	<bean id="cartBusiness" name="cartBusiness" class="com.business.CartBusiness">
		<property name="cartDAO" ref="cartDAO"></property>
	</bean>
	<!-- Action里注入Business -->
	<bean id="cartAction" name="cartAction" class="com.action.CartAction">
		<property name="cartBusiness" ref="cartBusiness"></property>
		<property name="usersBusiness" ref="usersBusiness"></property>
		<property name="goodsBusiness" ref="goodsBusiness"></property>
	</bean>

	<!-- 定义DAO并注入sessionFactory的实例 -->
	<bean id="ordersDAO" name="ordersDAO" class="com.dao.OrdersDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Business里注入DAO -->
	<bean id="ordersBusiness" name="ordersBusiness" class="com.business.OrdersBusiness">
		<property name="ordersDAO" ref="ordersDAO"></property>
	</bean>
	<!-- Action里注入Business -->
	<bean id="ordersAction" name="ordersAction" class="com.action.OrdersAction">
		<property name="ordersBusiness" ref="ordersBusiness"></property>
		<property name="usersBusiness" ref="usersBusiness"></property>
		<property name="goodsBusiness" ref="goodsBusiness"></property>
	</bean>

	<!-- 定义DAO并注入sessionFactory的实例 -->
	<bean id="topicDAO" name="topicDAO" class="com.dao.TopicDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Business里注入DAO -->
	<bean id="topicBusiness" name="topicBusiness" class="com.business.TopicBusiness">
		<property name="topicDAO" ref="topicDAO"></property>
	</bean>
	<!-- Action里注入Business -->
	<bean id="topicAction" name="topicAction" class="com.action.TopicAction">
		<property name="topicBusiness" ref="topicBusiness"></property>
		<property name="usersBusiness" ref="usersBusiness"></property>
		<property name="goodsBusiness" ref="goodsBusiness"></property>
	</bean>

	<!-- 定义DAO并注入sessionFactory的实例 -->
	<bean id="favDAO" name="favDAO" class="com.dao.FavDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Business里注入DAO -->
	<bean id="favBusiness" name="favBusiness" class="com.business.FavBusiness">
		<property name="favDAO" ref="favDAO"></property>
	</bean>
	<!-- Action里注入Business -->
	<bean id="favAction" name="favAction" class="com.action.FavAction">
		<property name="favBusiness" ref="favBusiness"></property>
		<property name="usersBusiness" ref="usersBusiness"></property>
		<property name="goodsBusiness" ref="goodsBusiness"></property>
	</bean>

</beans>
